:root {
    --main-color: rgba(136, 157, 187, 0.986);
    --secondary-color: rgba(66, 78, 184, 0.986);
    --color-alternative: rgb(35, 39, 48);
    --white-color: #f3f3f3;
    --snap-cubic: cubic-bezier(1.000, 0.005, 0.240, 1.000);
    --bounce-cubic: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    --main-font: 'Roboto', sans-serif;
    --secondary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/**
 * main variables for the css file
 */

*,
*::after,
*::before {
    box-sizing: border-box;
}

::selection {
    background:var(--secondary-color); /* WebKit/Blink Browsers */
    color: var(--white-color)
  }
  ::-moz-selection {
    background: var(--color-alternative);
    color: var(--white-color) /* Gecko Browsers */
  }
/** 
  *  reset for the browsers
 * http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
body {
    font-size: 15px;
    font-family: var(--main-font);
    /* background: var(--white-color); */
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
}

.main_wrapper {
    height: 100%;
    background: var(--color-alternative);
}

/**
 * header css 
 */

header {
    
    background:#fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5% ;
}

.nav_logo {
    display: block;
    width: 100px;
}

.nav_logo img {
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #f3f3f3;
    min-width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: margin-left 0.5s ease-in-out;
    z-index: 1000;
}
nav.active{
    transition: margin-left 0.5s ease-in-out;
    margin-left: 0;
}
.nav_link {
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    /* outline: 1px solid red; */
    margin-top: 1rem;
    /* background: #000; */
    color: #282C34;
    display: block;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}

.nav_link:hover {
    color: #f3f3f3;
    background: #282C34;
}

 .social {
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.social a {
    /* background: #000; */
    color: var(--main-color);
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    transition: all 0.5s var(--bounce-cubic);
}

.social a:hover {
    color: var(--color-alternative);
}

.menu_toggle{
    cursor: pointer;
    color:var(--secondary-color);
    padding: 1rem;
    margin-right: 1rem;
    position: relative;

}
/**
 * header css 
*/

.hero {
    background-image: linear-gradient(45deg,var(--main-color),rgba(0,0,0,0.8)), url('https://source.unsplash.com/XQdcBNRM8IY');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  10% center;
    background-attachment: fixed;
    /* background: linear-gradient(-45deg, var(--main-color), var(--secondary-color)); */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    color: var(--white-color);
    font-weight: 300;
    line-height: 150%;
    text-align: center;
    padding: 20px 5%;
    position: relative;
}

.hero .hero_img {
    display: none;
    max-width: 40%;
    /* background: #000; */
    position: absolute;
    bottom: -20vh;
    right: 0;
    z-index: 1;
}

.hero .hero_img img {
    max-width: 600px;
    width: 100%;
}

.hero h1 {
    z-index: 100;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    padding-top: 2rem;
    margin: 2rem 0;
}

.hero h1 small {
    display: block;
    line-height: 120%;
    font-size: 0.9rem;
    /* text-transform: lowercase; */
}

.hero p {
    font-family: var(--secondary-font);
    z-index: 100;
    color: var(--white-color);
    font-weight: 400;
    font-size: 1rem;
}
.btn{
    color: var(--white-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;

    background: var(--secondary-color);
    display: inline-block;

    padding: 1.5rem;
    max-width: 300px;
    margin: 2rem  auto 1rem;

    border-radius: 5px;
}
/**
 * HERO CSS END 
 */

.content {
    /* overflow-y: hidden; */
    min-height: 100vh;
    padding: 50px 0;
    background: var(--white-color);
}
.cards{
    /* background: linear-gradient( 20deg,var(--main-color)20% ,var(--secondary-color)204%); */
    max-width: 1200px;
    /* padding: 2rem; */
    /* margin-top:rem; */
    margin: 0 auto;
    padding: 0 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.card{
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0 1rem;
    color: #584E4A;
    background: #fff;
    border-radius: 5px;
}
.card_img{
    margin: 1rem auto;
    width: 100px;
    background: #fff;
    padding: 0.5rem 0;
}
.card_img img{
    width: 100%;
}
.card_title{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.card_body{
    text-align: left;
    line-height: 150%;
    font-weight: 400;
    font-size: 0.9rem;
    padding:1rem 0.5rem;
}

/**
 * cards end here
 */

 .service{
     background: var(--color-alternative);
     color: var(--main-color);
     padding: 2rem 0 0;
 }
 .title{
     font-size: 1.4rem;
     text-transform: uppercase;
     font-weight: 700;
     font-family: var(--main-font);
     line-height: 150%;
     max-width: 1200px;
     width: 90%;
     color: var(--main-color);
     margin: 2rem auto;
 }
 .title_body{
     max-width:1200px;
     width: 90%;
     margin: 0 auto 1rem;
     /* padding: 1rem; */
     font-size: 1rem;
     line-height: 150%;
 }
 .card_service{
     max-width: 1200px;
     margin: 0 auto;
     background: inherit;
     color: inherit;
     line-height: 150%;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 .card_service .card_img{
     background: inherit;
     padding: 0;
     flex-basis: 20%
     
 }
 .card_service .card_img img{
     width: 100%;
 }
 .card_service .card_title{
     font-size: 1.4rem;
     letter-spacing: 1px;
     padding: 0;
     flex-basis: 65vw;
 }
.card_service .card_body{
    font-size: 1rem;
    /* max-width: 90%; */

}
.service .img{
    max-width: 800px;
    display: block;
    margin: 0 auto -1.3rem;
}
.btn_container{
    max-width: 100vw;
    text-align: center;
}
.service .img img{
    width: 100%;
}
/**
 * Service section end
 */
.contact{
    text-align: center;
    line-height: 150%;
}
.form{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.form form{
    padding: 1.5rem 1%;
    margin: 2.5rem 0 ;
}
.contact_input {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--secondary-font);

    width: 100%;
    border: 1px solid var(--main-color);
    background: var(--white-color);
    margin: 0 0 0.3rem;

    padding: 0.7rem;
    transition: border-color 0.3s ease-in-out;
}
fieldset .contact_input:hover{
    border: 1px solid var(--color-alternative);
}
fieldset {
    border: medium none;
    margin: 0 0 .7rem;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
fieldset textarea{
    height: 100px;
    max-width: 100%;
    resize: auto;
}
.form button[type='submit']{
    cursor: pointer;
    width: 100%;
    border: 1px solid transparent;
    background: var(--secondary-color);

    color: var(--white-color);
    font-weight: 700;

    margin-bottom: 0.3rem;
    padding: .8rem ;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: background-color 0.5s ease-in-out,
                border-color 0.3s ease-in-out;

}

.form button[type='submit']:hover{
    background: var(--white-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
::-webkit-input-placeholder {
    color:var(--main-color);
   }
   :-moz-placeholder {
    color:var(--main-color);
   }
   ::-moz-placeholder {
    color:var(--main-color);
   }
   :-ms-input-placeholder {
    color:var(--main-color);
   }
/**
 * footer start here
 */
footer{
    color: var(--white-color);
    max-width: 100vw;
}
footer .title{
    text-align: center;
}
footer ul{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;text-align: center;

}
.service_list{
    color: var(--white-color);
    font-weight: 400;
    text-transform: none;
    background: inherit;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    text-align: center;
}
footer .social{
    max-width: 1200;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer .social a:hover{
    color: var(--secondary-color);
}
footer h3{
    padding: 1rem ;
    text-align: center;
    font-size: 1.2rem;
    max-width: 1200px;
    font-weight: 700;
}


/**
 * Media start here
 */
@media (min-width:600px){
    .hero h1 {
        text-align: center;
        font-size: 2.5rem;
        /* margin-bottom: 3rem; */
    }
    .hero h1 small{
        margin-top: 2rem;
        font-size: 1.7rem;
    }
    .hero p{
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--white-color);
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        box-shadow: none;
        margin-bottom: 4rem
    }
    .card{
        flex-basis: 49%;
        margin: 0;
    }
    .card_title{
        font-size: 1.5rem;
        font-family: var(--secondary-font);
        color: var(--main-color)
    }
    .card_body{
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem;
    }
    .card_service{
        display: flex;
        flex-direction: row;
        flex: 1;
    }
    .service .card_img{
        max-width: 100px;
        /* outline: 1px solid red; */
        margin: 0 1rem;
    } 
    .card_service .card_title{
        /* outline: 1px solid red; */
        flex-basis: 80%;
        letter-spacing: 4px;
        padding: 1rem;
        text-align:left;
    }
    .service .title{
        margin-top: 4rem;
        font-size: 2rem;
        text-align: center;
    }
    .service .card_body{
        padding: 0;
    }
    .service .card_body p{
        font-size: 1.1rem;
        width: 80%;
        padding: 0;
        margin-left: auto;
    }
}
@media (min-width:1100px){
   .hero .hero_img{
       display: block;
       top: 50%;
       transform: translate( 0,-50% )
   }
   .hero{
       /* flex-direction: row; */
       flex-wrap: wrap;
       align-items: flex-start;
       /* justify-content: center; */
       text-align: left;
   }
   .hero > * {
       max-width: 60%;
       text-align: center;
   }
   .hero div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }
   .hero h1{
       text-align: left;
   }
   .hero p{
       text-align: left;
   }
   .cards{
       padding: 1rem;
       margin-top: 4rem;
       margin-bottom: 10rem;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: 500px;
       grid-gap: 1rem;
       box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
       /* background: #fff; */
   }
   .card_service .card_img img{
       display: block;
       width: 100%;
   }
   .card_service .card_title{
        margin-bottom: 0;
       grid-area: title;
   }
   .card_service .card_body{
       grid-area: body;
   }
   .card_service .card_body p{
       width: 100%;
       padding: 1rem;
       margin-bottom: 1rem;
   }
   .contact{
       margin-top: 6rem;
   }
   .contact .title{
       font-size: 2.5rem;
   }
   /* change orientation of page if support grid */

   @supports (display: grid) {
       header{
           padding: 0;
           display: grid;
           grid-template-columns: repeat(4,1fr);
           grid-gap: 1rem;
       }
       header .menu_toggle{
           display:none;
       }
       .nav_logo{
        grid-column-start: 2;
        grid-column-end: 3;
       }
       nav{
        grid-column-start: 4;
        grid-column-end: 5;
           position: static;
           display: flex;
           flex-direction: row;
           max-width: 400px;
           height: 100px;
           margin-left: 0;
           background: inherit;
       }
       .nav_link{
        margin-top: 0;
       }
       nav .social{
           display:flex;
           justify-content: center;
           align-items: center;
           margin: 0;
           font-size: 1.3rem;
       }
       nav .social_link{
           color:var(--color-alternative);
           transition: background 0.3s ease-in-out;
           padding: 1rem;
           border-radius: 50%;
       }
       .social_link:hover{
          background: var(--white-color);
          color: var(--main-color);
       }
    .service {
      display: grid;
      grid-template-columns: repeat(4 , 1fr);
      grid-template-areas: '..... title title ....'
                            '..... sub sub .....'
                            'picture picture  card1 card2'
                            'picture picture card3 btn';

    }
    .service .title{
        font-size: 3rem;
        grid-area: title;
    }
    .service .title_body{
        padding: 2rem;
        grid-area: sub;
    }
    .service .btn_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: btn;
    }
    .service .img{
        /* background: #000; */
        grid-area: picture;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
        margin-bottom: 0;
    }
    .service .card1{
        grid-area: card1;
    }
    .service .card2{
        grid-area: card2;
    }
    .service .card3{
        grid-area: card3;
    }
    .service .card_service{
        display: grid;
        grid-template: repeat(3, 1fr);
        grid-template-areas: 'icon title title'
                             'icon parg parg';
    }
    .service .card_img{
        grid-area: icon;
    }
    .service .card_title{
        grid-area: title;
    }
    .service .card_body{
        grid-area: parg;
    }
    /* contact css  */
    .contact {
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-template-areas: '..... contact_title contact_title .....'
                            '..... contact_sub_title contact_sub_title .....'
                            'contact_img contact_img form form'
                            ;
    }
    .contact .title{
        grid-area: contact_title;
    }
    .contact .title_body{
        font-size: 1.3rem;
        grid-area: contact_sub_title;
    }
    .contact .form{
        display: flex;
        justify-content: center;
        grid-area: form;
    }
    .content{
        padding-bottom: 0;
    }
    .form form{
        margin-bottom: 0;
        width: 100%;
    }
    .contact .contact_img{
        background: url('../img/iphone_hero.png');
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: contact_img;
    }
  }
}